## **PROGRAMING : PYTHON**

In [1]:
# "print" used for show 
print("Hello, World")

Hello, World

## **Integer**

- Integer is a number without point

In [2]:
Marks = 954
print(Marks)
type(Marks)

954

int

## **Float**

- Float is a number with decimal point.

In [3]:
CGPA =3.7
print(CGPA)
type(CGPA)

3.7

float

## **String**

- All data types in single cort( '  ' ) or double cort ( " " ) is called string .

In [4]:
Center =" Corvit "
print(Center)
type(Center)

 Corvit

str

In [6]:
# Take input(user)
Your_Name = input("Please enter your good name : ")
print("Name : " ,Your_Name)
type(Your_Name)

Name :  Muhammad umair khan

str

In [9]:
# String change into integer
Roll_No = int(input("please enter your roll no : "))
print("Roll No : ",Roll_No)
type(Roll_No)

Roll No :  916990

int

In [11]:
# String change into float
CGPA =float(input("Please enter your CGPA : "))
print("CGPA : ", CGPA)
type(CGPA)

CGPA :  3.65

float

### **Sum**

In [12]:
a =15
b =34
sum = a+b
print(sum)

49

### **Subtraction**

In [1]:
Profit = 350
Loss = 230
subtract = Profit - Loss
print(subtract)

120

### **Multiplication**

In [1]:
apple_price = 150
Kg = 10
Multiplication =apple_price * Kg
print(Multiplication)

1500

### **Divition**

In [2]:
Obtained_Marks = 95400
Total_Marks =1200
Percentage =Obtained_Marks/Total_Marks
print(Percentage)

79.5

In [1]:
num1 =10
num2 =15

print(f"Addition : {num1+num2}")
print(f"Subtraction : {num1-num2}")
print(f"Multiplication : {num1*num2}")
print(f"Divition : {num1/num2}")

Addition : 25
Subtraction : -5
Multiplication : 150
Divition : 0.6666666666666666

### **String**

In [3]:
# Add two string
str1 = "I am student at corvit"
str2 = " mardan"
full = str1 +" "+str2+"."
print(full)

I am student at corvit  mardan.

In [7]:
# Total Sentance(alphabet) Capital
print(full)
full.upper()

I am student at corvit  mardan.

'I AM STUDENT AT CORVIT  MARDAN.'

In [9]:
# Total sentance(alphabet) small
full.lower()

'i am student at corvit  mardan.'

In [11]:
# First alphabet of a sentance is capital
full.capitalize()

'I am student at corvit  mardan.'

In [13]:
# First aplhabet of a word is capital
full.title()

'I Am Student At Corvit  Mardan.'

In [14]:
full.strip()

'I am student at corvit  mardan.'

In [15]:
# change a word in sentance
full.replace("mardan","Peshawar")

'I am student at corvit  Peshawar.'

In [16]:
# find a word
full.find("peshawar")

-1

- Find a value through index

In [17]:
full[2]

'a'

In [23]:
print(full)
full[-2]

I am student at corvit  mardan.

'n'

In [24]:
full[-1]

'.'

In [25]:
full[:7]

'I am st'

In [26]:
full[ :-1]

'I am student at corvit  mardan'

## **Bool**

- Bool is

In [12]:
is_sunny =True

if is_sunny:
    print("it is sunny")
else:
    print("it is running")

it is sunny

In [10]:
is_weather =False

if is_weather:
    print("it is sunny")
else:
    print("it is raining")

it is raining

In [13]:
is_raining = True

if is_sunny and is_raining:
    print("It is Sunny")
    
if is_sunny or is_raining:
    print("It is raining")

It is Sunny
It is raining