## **Set**

A set is an unordered collection of unique and immutable elements. It's an abstract data type inspired by the mathematical concept of a finite set.

## **1. Creating Sets**

In [1]:
# Set with initial elements
numbers_set = {1, 2, 3, 4, 5}
print(numbers_set) # Output: {1, 2, 3, 4, 5} (order might vary)

{1, 2, 3, 4, 5}

In [2]:
 # Set from a list duplicates are automatically removed
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(my_list)
print(unique_numbers) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [4]:
# Set with mixed immutable data types
mixed_set = {1, "hello", 3.14, True, (1, 2)} # Tuples are immutable, so they can be in a set
print(mixed_set) # Output: {1, 3.14, 'hello', (1, 2)} (True is usually represented as 1 in sets, so it might not show explicitly if 1 is present)

{'hello', (1, 2), 3.14, 1}

## 2. Adding Elements to a Set

In [5]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set) # Output: {1, 2, 3, 4}

my_set.add(2) # Trying to add a duplicate
print(my_set) # Output: {1, 2, 3, 4} (no change)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [6]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set) # Output: {1, 2, 3, 4, 5, 6}

my_set.update({5, 7, 8}) # Update with another set, duplicates ignored
print(my_set) # Output: {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

## 3. Removing Elements from a Set

In [7]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set) # Output: {1, 2, 4}

my_set.remove(99) # KeyError: 99

{1, 2, 4}

KeyError: 99

In [8]:
my_set = {1, 2, 3, 4}
my_set.discard(2)
print(my_set) # Output: {1, 3, 4}

my_set.discard(99) # No error, simply ignored
print(my_set) # Output: {1, 3, 4}

{1, 3, 4}
{1, 3, 4}

In [9]:
my_set = {1, 2, 3}
removed_item = my_set.pop()
print(f"Removed: {removed_item}")
print(my_set) # Output will vary, e.g., Removed: 1, Set: {2, 3}

Removed: 1
{2, 3}

In [10]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set) # Output: set()

set()

In [11]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
set_c = {1, 2}
print(set_a | set_b)       # Output: {1, 2, 3, 4, 5, 6}
print(set_a.union(set_b))  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [12]:
print(set_a & set_b)              # Output: {3, 4}
print(set_a.intersection(set_b))  # Output: {3, 4}

{3, 4}
{3, 4}

In [13]:
print(set_a - set_b)              # Output: {1, 2}
print(set_a.difference(set_b))    # Output: {1, 2}

print(set_b - set_a)              # Output: {5, 6}

{1, 2}
{1, 2}
{5, 6}

In [14]:
print(set_a ^ set_b)                         # Output: {1, 2, 5, 6}
print(set_a.symmetric_difference(set_b))     # Output: {1, 2, 5, 6}

{1, 2, 5, 6}
{1, 2, 5, 6}

In [15]:
print(set_c <= set_a)            # Output: True (all elements of set_c are in set_a)
print(set_a.issubset(set_c))     # Output: False

True
False

In [16]:
print(set_a >= set_c)            # Output: True (set_a contains all elements of set_c)
print(set_c.issuperset(set_a))   # Output: False

True
False

In [17]:
set_d = {7, 8}
print(set_a.isdisjoint(set_b)) # Output: False (they share 3, 4)
print(set_a.isdisjoint(set_d)) # Output: True (no common elements)

False
True

In [18]:
my_set = {1, 2, 3, 4}
print(len(my_set)) # Output: 4

4

In [19]:
my_set = {"apple", "banana", "cherry"}
print("banana" in my_set)    # Output: True
print("grape" not in my_set) # Output: True

True
True

In [20]:
my_list = [1, 2, 2, 3, 1]
unique_elements = list(set(my_list)) # Convert list to set (removes duplicates), then back to list
print(unique_elements) # Output: [1, 2, 3] (order might vary)

[1, 2, 3]